<div class="location-map">
  <div class="location-map__search">
    <mat-form-field appearance="outline" class="location-map__search-field">
      <mat-label>Search for a location</mat-label>
      <input
        matInput
        [formControl]="locationSearchControl"
        [matAutocomplete]="locationAutocomplete"
        placeholder="Type a place or street name..."
        autocomplete="off"
      />
      <mat-icon matPrefix>search</mat-icon>
      <mat-autocomplete
        #locationAutocomplete="matAutocomplete"
        [displayWith]="displayLocationFn"
        (optionSelected)="onLocationSelected($event.option.value)"
      >
        @for (suggestion of locationSuggestions(); track suggestion.description) {
          <mat-option [value]="suggestion">
            <div class="location-map__suggestion">
              <mat-icon class="location-map__suggestion-icon">place</mat-icon>
              <div class="location-map__suggestion-text">
                <div class="location-map__suggestion-main">
                  {{ suggestion.description }}
                </div>
              </div>
            </div>
          </mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
  </div>

  <div #mapContainer class="location-map__map"></div>
</div>
