<div 
  class="sponsored-project-card" 
  [style.background-image]="cardImageBackground"
>
 <h1 class="sponsored-project-card__title">{{ 'home.sponsored.title' | translate }}</h1>

 <div class="sponsored-project-card__project-info">
  <span class="sponsored-project-card__project-name">{{ project().name }}</span>
  <span class="sponsored-project-card__developer-name">{{ 'common.card.developer' | translate }}: {{ project().companyInfo?.companyName | localized }}</span>
 </div>


 <button type="button" class="sponsored-project-card__btn" (click)="viewProject()">
  {{ 'home.sponsored.viewProject' | translate }}
 </button>
</div>