@use "../../tools/design-system" as *;

:host {
  display: inline-block;
}

.currency-toggle {
  display: flex;
  align-items: center;
  gap: 0;
  height: px-to-rem(28);
  padding: px-to-rem(2);
  border: 1px solid $border-color-muted;
  border-radius: $radius-pill;
  background-color: $bg-white;
}

::ng-deep .currency-toggle__option--gel {
  .currency-toggle__symbol {
    transform: translateX(px-to-rem(-1));
  }
}

.currency-toggle__symbol {
  display: block;
  font-size: px-to-rem(12);
  font-weight: $font-weight-medium;
  line-height: 1;
}
