<div class="language-switcher">
  <app-button
    variant="outline"
    size="md"
    type="button"
    extraClass="language-switcher__trigger"
    ariaLabel="Select language"
    [ariaExpanded]="languageMenuOpen"
    (click)="toggleMenu()"
  >
    <img
      class="language-switcher__icon"
      src="assets/icons/globe.svg"
      alt=""
      width="19"
      height="19"
      aria-hidden="true"
    />

    <span>{{ selectedLanguageLabel() }}</span>

    <img
      class="language-switcher__chevron"
      src="assets/icons/arrow-down.svg"
      alt=""
      aria-hidden="true"
    />
  </app-button>

  @if (languageMenuOpen) {
    <ul class="language-switcher__menu">
      @for (language of languages; track language.value) {
        <li>
          <app-button
            variant="ghost"
            size="md"
            type="button"
            extraClass="language-switcher__option"
            [active]="language.value === selectedLanguage()"
            activeTone="muted"
            [fullWidth]="true"
            (click)="selectLanguage(language.value)"
          >
            {{ language.label }}
          </app-button>
        </li>
      }
    </ul>
  }
</div>
