@use "../../tools/px-to-rem" as *;

:host {
  display: block;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: px-to-rem(20px);

  &__pages {
    display: flex;
    align-items: center;
    gap: px-to-rem(8px);

    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__ellipsis {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: px-to-rem(24px);
    color: #7b7b7b;
  }
}
