@use "../tools/design-system" as *;

.container {
  height: calc(100vh - 64px);
  border: 1px solid $overlay-black-50;
}

.sidenav-content {
  padding: 20px;
}

.sidenav {
  width: 250px;
  padding: 0 5px;
  transition: width 300ms ease-in-out;
  border-right: 1px solid $overlay-black-50;
  border-radius: 0;

  &.collapsed {
    width: 64px;
  }
}

.list-item-content {
  display: flex;
  align-items: center;
  gap: 16px;
  height: 48px;
  cursor: pointer;
  padding: 0 16px;
  text-decoration: none;
  color: inherit;

  &:hover {
    background-color: $overlay-black-04;
  }

  &.active {
    background-color: $overlay-black-08;
    font-weight: $font-weight-medium;
  }
}
