<mat-toolbar color="primary">
  <button mat-icon-button (click)="isExpanded = !isExpanded">
    <mat-icon>menu</mat-icon>
  </button>
  <h1 class="example-app-name">Admin Panel</h1>
</mat-toolbar>

<mat-sidenav-container class="container" autosize>
  <mat-sidenav
    #sidenav
    class="sidenav"
    [class.collapsed]="!isExpanded"
    mode="side"
    opened="true"
  >
    <mat-nav-list>
      @for (item of sidebarItems; track item.path) {
        <div
          class="list-item-content"
          [routerLink]="item.path"
          routerLinkActive="active"
        >
          @if (isExpanded) {
            <span>{{ item.label }}</span>
          }
          <mat-icon mat-list-icon>{{ item.icon }}</mat-icon>
        </div>
      }
    </mat-nav-list>
  </mat-sidenav>

  <div class="sidenav-content">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
