<div class="home-container">
  <section class="home-container__favourite-projects">
    <div class="home-container__favourite-projects-header">
      <h2>რჩეული პროექტები</h2>
      <span>ყველას ნახვა</span>
    </div>

    <div class="home-container__favourite-projects-list">
      @for (project of favouriteProjects(); track project.id) {
        <app-project-card [project]="project"></app-project-card>
      }
    </div>
  </section>

  <section class="home-container__sponsored-projects">
    <div class="home-container__sponsored-projects-list">
      @for (project of sponsoredProjects(); track project.id) {
        <app-sponsored-project-card [project]="project"></app-sponsored-project-card>
      }
    </div>
  </section>
</div>
